/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
	@include avatar-style;
}

.img-frame {
	@include frame-style (100%);
}

.img-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
